.smh{
    display: flex;
    background-color: brown;
    border-radius: 16px;
    display: flex;
    align-content: space-around;
}

.big{
    size: 10px;
    margin: 10px;
}

.wut button{
    margin-top: 0px;
    background-color: #DB0B5F ;
    border-color: #DB0B5F;
}